<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .expedition-details {
            border: 1px solid #ddd;
            padding: 20px;
            margin: 20px auto;
            max-width: 800px;
        }

        .expedition-details span {
            display: block;
            margin-bottom: 10px;
        }

        .expedition-details a {
            margin-top: 5px;
            display: inline-block;
        }
    </style>
</head>
<body>
<h2 class="text-center">Expeditions</h2>


<div class="expedition-details">
    <span><strong>ID:</strong> <span th:text="${expedition.id}"></span></span>
    <span><strong>Status:</strong> <span th:text="${expedition.expeditionStatus}"></span></span>
    <span><strong>Start Time:</strong> <span th:text="${expedition.departureTime}"></span></span>
    <span><strong>End Time:</strong> <span th:text="${expedition.expeditionStatus == T(niu.itmo.spaceresearch.model.ExpeditionStatus.COMPLETED) ? expedition.endTime : '-'}"></span></span>

    <span><strong>Source Station:</strong> <span th:text="${expedition.sourceStation.name}"></span></span>
    <a th:href="@{/station/{id}(id=${expedition.getSourceStation().getId()})}" class="btn btn-primary">Source station
        details</a>

    <span><strong>Destination Station:</strong> <span th:text="${expedition.destinationStation.name}"></span></span>
    <a th:href="@{/station/{id}(id=${expedition.getDestinationStation().getId()})}" class="btn btn-primary">Destination
        station details</a>

    <span><strong>Spaceship:</strong> <span th:text="${expedition.spaceship.name}"></span></span>
    <a th:href="@{/spaceship/{id}(id=${expedition.getSpaceship().getId()})}" class="btn btn-primary">Spaceship
        Details</a>

    <span><strong>Commander:</strong> <span
            th:text="${expedition.commander.firstName + ' ' + expedition.commander.lastName}"></span></span>

    <span><strong>Participants:</strong></span>
    <ul>
        <li th:each="participant : ${expedition.researchers}">
            <span th:text="${participant.firstName + ' ' + participant.lastName}"></span>
        </li>
    </ul>

    <div th:if="${expedition.expeditionStatus == T(niu.itmo.spaceresearch.model.ExpeditionStatus.LANDED)}"
         class="report-details">
        <span><strong>Report details</strong></span>
        <span><strong>Description:</strong> <span th:text="${expedition.report.description}"></span></span>
        <span><strong>Breakdown Types:</strong></span>
        <ul>
            <li th:each="breakdownType : ${expedition.report.breakdownTypes}">
                <span th:text="${breakdownType.name}"></span>
            </li>
        </ul>
    </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
