<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список Экспедиций</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<h1>Список Экспедиций</h1>
<table class="table">
    <thead>
    <tr>
        <th>Номер</th>
        <th>Статус</th>
        <th>Дата начала</th>
        <th>Дата конца</th>
        <th>Полное описание</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="expedition : ${expeditions}">
        <td th:text="${expedition.id}"></td>
        <td th:text="${expedition.expeditionStatus}"></td>
        <td th:text="${expedition.departureTime}"></td>
        <td th:text="${expedition.expeditionStatus == T(niu.itmo.spaceresearch.model.ExpeditionStatus.COMPLETED) ? expedition.endTime : '-'}"></td>
        <td><a th:href="@{/expeditions/details/{id}(id=${expedition.id})}" class="btn btn-primary">Посмотреть</a></td>
    </tr>
    </tbody>
</table>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>