<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Researcher Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .researcher-details {
            border: 1px solid #ddd;
            padding: 20px;
            margin: 20px auto;
            max-width: 800px;
        }

        .researcher-details span {
            display: block;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<h2 class="text-center">Researcher Details</h2>

<div class="researcher-details">
    <span><strong>ID:</strong> <span th:text="${researcher.id}"></span></span>
    <span><strong>First Name:</strong> <span th:text="${researcher.firstName}"></span></span>
    <span><strong>Last Name:</strong> <span th:text="${researcher.lastName}"></span></span>
    <span><strong>Age:</strong> <span th:text="${researcher.age}"></span></span>
    <span><strong>Gender:</strong> <span th:text="${researcher.sex}"></span></span>
    <span><strong>In Expedition:</strong> <span th:text="${researcher.inExpedition} ? 'Yes' : 'No'"></span></span>
    <span><strong>Professions:</strong></span>
    <ul>
        <li th:each="profession : ${researcher.professions}">
            <span th:text="${profession.name}"></span>
        </li>
    </ul>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>